<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/login.css">  
</head>
<body>
    <div class="login">
        <h1>BEM-VINDO</h1>

            {% if messages %}
                {% if mensagem.tags %} 
                    <ul class="mensagem_do_servidor">
                        {% for mensagem in messages %}
                            <li class="alert alert-{{mensagem.tags}}"> {{mensagem}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endif %}

        <form action="{% url 'enviar_login' %}" method="POST">
            {% csrf_token %}

            <h4>E-mail</h4>
            <label for="email"> Email: </label>
            <input id="email" type="email" name="email" placeholder="Insira seu E-mail" required>
            
            <h4>Senha</h4>
            <label for="senha"> Senha: </label>
            <input id="senha" type="password" name="senha" placeholder="Insira sua senha" required>
            
            <div class="error-message">
                <!-- Mensagem de erro será inserida aqui -->
            </div>

            <button id="item" type="submit">ENTRAR</button>
        </form>

    </div>
</body>
</html>
