{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'css/cadastro_atividade.css'%}">  
    <script src="https://kit.fontawesome.com/cf0f7af951.js" crossorigin="anonymous"></script>
    

</head>


<body>

    <nav>
        <h2>CADASTRO ATIVIDADES</h2>
        <a href="{% url 'fechar' %}" method="POST" id="login">Sair</a>
    </nav>
    

    <div class="sistema">

        <div class="cadastro">
            <h3>CADASTRE UMA ATIVIDADE PARA TURMA</h3>

            <div class="linha"></div>
                <form enctype="multipart/form-data" action="{% url 'cad_atividade' id_turma=turma_id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-cadastro">
                        <div class="input-turma">
                            <h4>Atvidade</h4>
                            <input id="item" type="text" name="descricao" placeholder="Insira a descrição da atividade">
                        </div>
                            <div class="acoes">
                                <h4>Arquivo</h4>
                                <input type="file" name="arquivo" id="arquivo" value="Caminho arquivo">    
                        </div>
                        <button id="cadastro-button" type="submit">Cadastrar</button>
                    </div>
                    <input type="hidden" name="id_turma" id="turma_id" value="{{turma_id}}">
                    <div class="welcome-message">
                        <!-- Mensagem de erro será inserida aqui -->
                    </div>
                </form>
        </div>

        {% if atividades_turma %}

            <table id="style_table">

                <tr>
                    <th> ATIVIDADE </th>
                    <th> AÇÃO </th>
                    <th> ARQUIVO </th>
                </tr>

                {% for atividade in atividades_turma %}

                    <tr>
                        <td> {{atividade.id}}</td>
                        <td>
                            <p> {{atividade.nome_atividade}} </p>
                        </td>

                        <td>
                            {% if atividade.arquivo %}
                            <a href="../../{{atividade.arquivo}}"><p>arquivo</p></a></td>
                            <!-- <a href={{atividade.arquivo}}><i class="fa-regular fa-file"></i></a></td> -->
                            {% else %}
                            <!-- <i class="fa-solid fa-x"></i> -->
                            <p>não existe arquivo</p>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <h3 style="text-align: center; padding: 50px 15px;">Não há atividades cadastradas!</h3>
        {% endif %}

    </div>

</body>

</html>