{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'css/cadastro_turma.css'%}">  

</head>

<body>

    <nav>
        <h2>Olá, {{ usuario_logado }} seja bem-vindo!</h2>
        <a href="{% url 'fechar' %}" method="POST" id="login">Sair</a>
    </nav>
    

    <div class="sistema">

        <div class="cadastro">
            <h3>CADASTRE UMA TURMA</h3>
            <a href="{% url 'exportar_para_excel_turmas' %}" download>
                <button style="text-decoration: none; color: #fff; background-color: #22223b; padding: 8px 16px; border: none; border-radius: 4px;">Exportar para Excel</button>
            </a>

            <div class="linha"></div>

            <div class="acoes">
                <form action="{% url 'cad_turma' id_professor=id_logado%}" method="POST">
                    {% csrf_token %}
                    <div class="input-cadastro">
                        <div class="input-turma">
                            <h4>Turma</h4>
                            <input id="item" type="text" name="turma" placeholder="Insira o nome da turma ">
                            <input type="hidden" name="id_professor" id="id_logado" value="{{id_logado}}">
                        </div>
                        <button id="cadastro-button" type="submit">Cadastrar</button>
                    </div>
                    <div class="welcome-message">
                        <!-- Mensagem de erro será inserida aqui -->
                    </div>
                </form>
            </div>

        </div>

        {% if turmas_professor %}

            <table id="style_table">

                <tr>
                    <th> ID </th>
                    <th> TURMA </th>
                    <th> AÇÃO </th>
                </tr>

                {% for turma in turmas_professor %}

                    <tr>
                        <td>
                            <p> {{turma.id}}</p>
                        </td>
                        <td>
                            <p> {{turma.nome_turma}}</p>
                        </td>
                        <td> 
                            <a href="{% url 'excluir_turma' id_turma=turma.id%}"><button id="excluir" type="submit">Excluir</button></a>
                            <a href="{% url 'cad_atividade' id_turma=turma.id %}"><button id="visualizar" type="submit">Visualizar</button></a> 
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
        <h3 style="text-align: center; padding: 50px 15px;">Não há turmas cadastradas!</h3>
        {% endif %}


        

    </div>

</body>

</html>