<html>

<head>
    <title> tela de Login </title>

    <link rel="stylesheet"  href="../static/css/login.css">
</head>

<body>
    <div class="login-container">
    <div class="error-message">
        <!--Mensagem de erro sera inserida aqui-->
    </div>
    <div class="login">
       
            <h1> Login</h1>
            {% if messages %}
            <ul class="mensagem_do_servidor">
                {% for mensagem in messages %}
                <li {% if mensagem.tags %}class="alert alert--{{message.tags}}" {% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'enviar_login' %}" method="post">{% csrf_token %}
          <h3>Email:</h3>
           <label for="e-mail"></label>
           <input type="email" name="email" id="email" required><br>

           <h3>Senha:</h3>
           <label for="senha"></label>
           <input type="password" name="senha" id="senha"><br><br>
            
            <button type="submit">Entrar </button><br>
        </form>
    </div>
</div>
</body>

</html>