* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #24272B;
    overflow: hidden;
    padding: 10px;
}

nav h2 {
    color: #ffffff;
    float: left;
    margin: 0;
}

#login {
    float: right;
    background-color: #ffffff;
    color: #22223b;
    border: none;
    padding: 5px 15px;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 50px auto;
    font-size: 18px;
}

button {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#excluir {
    background-color: #4A525A;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 6px;
}

#visualizar {
    background-color: #3E78B2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 6px;
}

#sair {
    color: #22223b;
    border: none;
}

#style_table th,
#style_table td {
    border: 1px solid gainsboro;
    text-align: center;
    padding: 20px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
    gap: 25px;
    padding-right: 150px;
    padding-left: 150px;
}

.linha {
    border-top: 2px solid #22223b;
    width: 100%;
}

.sistema {
    width: 60%;
    margin: 50px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 1px;
}

h1, h4 {
    color: #231942;
    margin-top: 30px;
}

.input-cadastro {
    display: flex;
    gap: 40px;
}

.input-turma,
.acoes {
    display: inline-block;
    width: 45%;
}

.input-turma h4,
.acoes h4 {
    margin-bottom: 5px;
}

.input-turma input,
.acoes input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gainsboro;
}

#cadastro-button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #004BA8;
    color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 50px;
    height: 35px;
}